.header {
    height: 95vh;
    background-image: linear-gradient(
    to right,
     rgba($color-primary-light, 0.801), rgba($color-primary-dark, 0.815)), 
     url(../images/mainBG.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    position: relative;
    display: flex;
    justify-content: center;

    align-items: center;
    flex-direction: column;

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    &__logo {
        height: 6rem;
    }
}